.food-truck-card .ui.button {
  float: left;
  margin: 0 1rem 0 0;
}

/* .food-truck-card #edit {
  background-color: #f5824a;
}

.food-truck-card #schedule {
  background-color: #ffeee6;
}
.food-truck-card #archive {
  background-color: #a4a4a4;
} */
