.container-name-pic {
  display: flex;
}

.container-name {
  width: 65%;
  margin-right: 10%;
  align-self: flex-end;
  padding: 0 0 1rem;
}

.profile-pic-form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 7rem;
  text-align: center;
}

.edit-profile-pic {
  font-size: 1rem;
  align-self: center;
  text-decoration: underline;
}

.container-image-form {
  width: 5rem;
  height: 5rem;
  border: 1px solid gray;
  overflow: hidden;
  vertical-align: middle;
  align-self: center;
  border-radius: 10%;
  background-size: cover;
  background-position: center;
}

.extra-info-form {
  float: right;
}
