/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

body {
  margin: 10px;
}

label {
  display: block;
  min-width: 50px;
}

input,
textarea {
  margin: 10px;
  border: solid black;
}

.primary {
  border: solid black;
  margin-left: 5px;
}

form {
  display: block;
}
